@import "tailwindcss";

@theme {
  --color-primary: #1d4762;
  --default-font-family: "Roboto Flex";
}

@layer base {
  * {
    @apply border-slate-300;
  }

  html {
    @apply flex flex-col bg-white antialiased scroll-mt-[72px];
  }

  p {
    @apply text-slate-600 leading-relaxed;
  }

  h1 {
    @apply text-5xl sm:text-7xl;
  }

  h2 {
    @apply text-4xl sm:text-6xl;
  }

  h1,
  h2,
  h3 {
    @apply text-primary font-medium leading-[1.25] tracking-tight;
  }

  strong {
    @apply font-medium;
  }
}

@utility container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 16px;
}
